.groups{
  width: 40%;
  margin: 0 auto;
}

.group-form{
  margin-bottom: 5%;
}

.group-form-inputs{
  width: 80%;
  margin: 0 auto;
}

.group-form-actions{
  width: 50%;
  margin: 0 auto;
}

.group-form-name{
  line-height: 3em;
  text-align: center;
  font-size: 2em;
  width: 100%;
}

.group-form-submit{
  width: 100%;
  font-size: 2em;
}

.group-items{
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-around);
}

.group-item{
  width: 1000%;
  font-size: 3em;
  text-align: center;
  height: 10%;
  margin-bottom: 15px;

  border: 1px solid gray;
  @include border-radius(4px);

  a{
    text-decoration: none;
    display: block;
    color: black;
  }
  a:visited{
    color: black;
  }
  a.fa{
    float: right;
  }
}