.mutants{
  width: 40%;
  margin: 0 auto;
}

.mutant-form{
  margin-bottom: 5%;
}

.mutant-form-inputs{
  width: 80%;
  margin: 0 auto;
}

.mutant-form-actions{
  width: 50%;
  margin: 0 auto;
}

.mutant-form-name{
  line-height: 3em;
  text-align: center;
  font-size: 2em;
  width: 100%;
}

.mutant-form-submit{
  width: 100%;
  font-size: 2em;
}

.mutant-items{
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-around);
}

.mutant-item{
  width: 100%;
  text-align: center;
  height: 10%;
  margin-bottom: 15px;

  border: 1px solid gray;
  @include border-radius(4px);

  a{
    text-decoration: none;
    color: black;
    font-size: 3em;
  }
  a:visited{
    color: black;
  }
  span.fa{
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    float: right;
  }
}

.mutant-form{
  width: 20%;
  margin: 0 auto;
}

.mutant-form-inputs{
  margin: 10px 0;
  label{
    margin-right: 1%;
  }
  input{
    float: right;
    clear: both;
  }
}

.mutant-form-actions{
  input{
    position:relative;
    top:50%; 
    left:50%;
  }
}